{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__gutenberg_uswds__image_with_caption()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('gutenberg_uswds_accordion/block-view') }}
{% set accordion_id = random() %}
{# Multiselect #}
{% if block_attributes.multiselect %}
  {% set multiselect = 'true' %}
{% else %}
  {% set multiselect = 'false' %}
{% endif %}
{# Expand/Collapse All #}
{% if block_attributes.controlButton %}
<div class="operations-group collapsed">
  <a href="" target="blank" class="usa-link expand-link" data-controls="{{ accordion_id }}">{{ 'Expand All' | t }}</a>
  <a href="" target="blank" class="usa-link collapse-link" data-controls="{{ accordion_id }}">{{ 'Collapse All' | t }}</a>
</div>
{% endif %}
{# Accordion #}
<div{{ attributes.addClass('usa-accordion').setAttribute('id', accordion_id).setAttribute('aria-multiselectable', multiselect) }}>
  {{ block_content }}
</div>
